.App {
  font-family: sans-serif;
  text-align: center;
}

header {
  margin-bottom: 12px;
}

.subtitle {
  margin: 0;
}

.step {
  display: grid;
  border: 3px solid lightslategray;
  border-radius: 5px;
  margin: 30px;
  padding: 20px;
}

.step-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: end;
  justify-content: center;
  column-gap: 15px;
  row-gap: 15px;
}
